---
BasedOnStyle: LLVM
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: AfterColon
ColumnLimit: '60'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
IndentAccessModifiers: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
FixNamespaceComments: 'false'
NamespaceIndentation: All
Language: Cpp
MaxEmptyLinesToKeep: '2'
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeCtorInitializerColon: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: ForIndentation
CommentPragmas: '^\@.+'
